fastapi
uvicorn
python-dotenv
pydantic

langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

faiss-cpu==1.8.0
sentence-transformers==3.0.1
huggingface_hub==0.24.6

youtube-transcript-api
httpx