fastapi
uvicorn
python-dotenv
pydantic

langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

faiss-cpu
sentence-transformers
huggingface_hub

youtube-transcript-api
httpx